@import "tailwindcss";

:root {
  --background: #0f1111;
  --foreground: #ffffff;
  --card-bg: #131921;
  --card-border: #374151;
  --amazon-orange: #ff9900;
  --amazon-yellow: #febd69;
  --text-secondary: #cccccc;
}

body {
  font-family: Roboto, Arial;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
  background-color: #232f3e !important;
  color: white !important;
  border-color: #374151 !important;
}

input,
select,
button {
  font-family: Roboto, Arial;
}
